[Desktop Entry]
Type=Application
Name=Reboot into Windows
Comment=Use grub-reboot to reboot into Windows
Terminal=false
Exec=sudo grub-reboot-into-windows
Icon=/usr/share/grub-reboot-into-windows/icon.svg
Categories=System
